SmartH2O_Alarm/trigger-rules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sensors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="sensor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="conditions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="condition">
                      <xs:complexType>
                        <xs:attribute name="ative" type="xs:string" use="required" />
                        <xs:attribute name="operator" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ative" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>